{% extends "base.html.twig" %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="/curso/parte2/">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Listado de países</li>
{% endblock %}

{% block contenido %}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Iso</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr>
                    <td>{{ pais.iso }}</td>
                    <td>{{ pais.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}